<html>
<head>
<title>PHP WebService Test</title>
</head>
<body>
	<form action="SendSMS.php" method="post">
		<br><br>
		<input type="text" name="userName" placeholder="User Name"><br>
		<input type="password" name="password" placeholder="Password"><br>
		<input type="text" name="lineNumber" placeholder="Line Number"><br><br>
		<input type="text" name="Receiver" placeholder="To"><br>
		<textarea name="messageBody" placeholder="Message"></textarea><br><br>
		<input type="submit" name="submit">
	</form>
</body>
</html>