@media (max-width: 767px) {
    .thumbnail-list {
        margin: 0;
    }
    .navbar-collapse.in {
        overflow: visible;
    }
    .scroll-mode .navbar-form .search-btn-icon > .btn{
        height: 40px;
        background-size: 18px;
        padding: 10px 0;
    }
    .scroll-mode .navbar-form .form-control{
        height: 40px;
        font-size: 14px;
    }
    .search-suggest-box{
        display: none;
    }
    .search-suggest-box.open{
        display: block;
    }
    #categories-modal .modal-dialog{
        width: 95%;
    }
    .navbar-default,
    .navbar-default.scroll-mode{
        height:60px;
    }
    .navbar-default.scroll-mode .navbar-brand,
    .navbar-brand{
        height:60px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .navbar-default.scroll-mode .navbar-brand > img,
    .navbar-brand > img{
        max-height: 50px;
    }
    .navbar-default.scroll-mode .navbar-brand > h1,
    .navbar-brand > h1{
        font-size: 18px;
        margin-right: 10px;
    }
    .navbar-toggle{
        margin-bottom: 13px;
        margin-top: 13px;
    }
    #mobile-menu{
        background: #343434;
        border-top: none;
        padding: 0;
    }
    .navbar-default.scroll-mode .navbar-form,
    .navbar-form{
        position: relative;
        left:auto;
        width: 100%;
        padding: 0;
        margin: 0 !important;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form{
        border-top: none;
        border-bottom: none;
        box-shadow: none;
    }
    .scroll-mode .navbar-form .input-group > .form-control,
    .navbar-form .input-group > .form-control{
        height:60px;
        border:none;
        border-bottom: 1px solid rgba(150, 150, 150, 0.4);
        padding-right: 15px;
        padding-left: 15px;
        font-size: 14px;
    }
    .scroll-mode .navbar-form .input-group-btn,
    .navbar-form .input-group-btn{
        width: 10%;
    }
    .scroll-mode .navbar-form .input-group-btn:last-child > .btn,
    .navbar-form .input-group-btn:last-child > .btn{
        height:60px;
        border:none;
        border-bottom: 1px solid rgba(150, 150, 150, 0.4);
        margin-right: 0;
        background-position: center;
        background-size: 23px;
    }
    #mobile-menu .navbar-nav{
        margin: 0;
    }
    .navbar-default.scroll-mode .navbar-nav > li > a,
    .navbar-default .navbar-nav > li > a{
        height: 60px;
        line-height:60px;
        border-bottom: 1px solid rgba(150, 150, 150, 0.4);
        padding: 0 15px;
    }
    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-nav > li > a:hover{
        border-bottom: 1px solid rgba(150, 150, 150, 0.4);
    }
    #categories-modal .modal-dialog{
        width: 100%;
        margin: 0;
    }
    #categories-modal .cats-list{
        position: relative;
    }
    #categories-modal .cats-list{
        background: #f0f0f0;
    }
    #categories-modal .nav-stacked > li{
        border-bottom-color: #ddd;
    }
    #categories-modal .nav-pills > li.active > a,
    #categories-modal .nav-pills > li.active > a:focus,
    #categories-modal .nav-pills > li.active > a:hover{
        background: #dadfe0;
    }
    #login-modal .modal-dialog{
        width: 100%;
        margin: 0;
    }
    .slider-item .slider-overlay {
        width: 350px;
        height: 100px;
    }
    .slider-item .slider-overlay img{
        width: 87px;
    }
    .slider-item .slider-overlay h3{
        font-size: 16px;
    }
    .offers .owl-dots{
        visibility: visible;
    }
    .offers .owl-nav{
        visibility: hidden;
    }
    .bestselling .owl-dots{
        visibility: visible;
    }
    .bestselling .owl-nav{
        visibility: hidden;
    }
    .owl-theme .owl-dots .owl-dot span{
        height:8px;
        width: 20px;
    }
    .owl-dots{
        margin-top: 40px;
    }
    .tabs .nav > li > a{
        padding: 20px;
    }
    .tabs .tabs-container{
        margin-top: 70px;
    }
    .news .controls{
        position: relative;
    }
    .news .arrow-icon{
        float: none;
        display: inline-block;
        width: 60px;
        height:60px;
        background-size: 60px;
    }
    .news .controls{
        text-align: center;
        padding-top: 70px;
    }
    .news .controls .next{
        margin-left: -140px;
        top: auto;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
    .news .controls .prev{
        top: auto;
        -webkit-transform: translateY(0) rotate(-180deg);
        -moz-transform: translateY(0) rotate(-180deg);
        -ms-transform: translateY(0) rotate(-180deg);
        -o-transform: translateY(0) rotate(-180deg);
        transform: translateY(0) rotate(-180deg);
    }
    .thumbnail-list .items{
        padding: 0 15px;
        margin: 0 -15px;
    }
    .book-view .thumb{
        text-align: center;
        margin-bottom: 15px;
    }
    .book-view .buttons > div:first-child{
        margin-bottom: 15px;
    }
    .book-view .buttons > div:first-child,
    .book-view .buttons > div:last-child{
        padding-left: 15px;
        padding-right: 15px;
    }
    .cart .table .quantity{
        width: 50px;
        display: block;
        margin: 0 auto 20px;
    }
    .cart .table .remove{
        opacity:1;
        font-size: 14px;
    }
    .green-list .list-group-item{
        text-align: center;
    }
    .green-list .list-group-item .price{
        margin-top: 15px;
    }
    .cart .btn-blue,
    .cart .btn-black,
    .cart .btn-green{
        width: 100%;
        margin-bottom: 15px;
    }
    .steps li::before{
        width:3px;
        height: 100%;
    }
    .steps li::after{
        top: 50%;
        right: 0;
        width: 20px;
        height: 20px;
        margin-right: -9px;
    }
    .steps{
        padding-right: 9px;
    }
    .steps li{
        float: none;
        width: 100%;
        text-align: right;
        font-size: 12px;
        line-height: 20px;
        padding: 10px 25px;
    }
    .address-list .address-item,
    .shipping-methods-list .shipping-method-item{
        height:360px;
        margin-top: 20px;
    }
    .address-list .address-item > .radio-container,
    .shipping-methods-list .shipping-method-item > .radio-container{
        height:50px;
        border-bottom: 1px solid #f0f1f2;
        border-left: none;
    }
    .address-list .address-item .info-container,
    .shipping-methods-list .shipping-method-item .info-container{
        height:auto;
        border-left: none;
    }
    .address-list .address-item .info-container .pull-right,
    .shipping-methods-list .shipping-method-item .info-container .pull-right{
        float: none !important;
        width: 100%;
        height: auto;
        border-left: none;
    }
    .address-list .address-item .address{
        float: none;
        width:100%;
        border-left: none;
        border-bottom: 1px solid #f0f1f2;
    }
    .address-list .address-item .phone{
        float: none;
        width: 100%;
    }
    .address-list .address-item .links{
        width: 100%;
        height: 70px;
    }
    .shipping-methods-list .shipping-method-item .pull-left{
        float: none;
        width: 100%;
        height:auto;
    }
    .address-list .address-item .edit-link,
    .address-list .address-item .remove-link{
        width: 50%;
        height:100%;
        float: right;
    }
    .address-list .address-item .edit-link,
    .address-list .address-item .remove-link{
        background-size: 20px;
    }
    .shipping-methods-list .shipping-method-item{
        height:auto;
    }
    .shipping-methods-list .shipping-method-item .pull-right{
        border-bottom: 1px solid #f0f1f2;
    }
    .cart .login-box > div{
        float: none;
        margin: 0 auto;
        padding-right: 0;
        padding-left: 0;
    }
    .cart .login-box > div:first-child{
        border-left: none;
        border-bottom: 1px solid #cdcdcd;
    }
    .cart .login-box{
        margin:0;
    }
    .cart .bill .list-group-item{
        text-align: center;
    }
    .cart .bill .list-group-item .price{
        margin-top: 20px;
    }
    .cart .address-info .list-group-item{
        line-height: 30px;
        text-align: justify;
        padding-right: 10px;
        padding-left: 10px;
    }
    #add-address-modal .modal-dialog{
        width: 100%;
        margin: 0;
    }
    .modal .modal-content{
        padding: 20px 0;
    }
    #address-form .form-group.row .right-control{
        padding-left: 15px;
    }
    #address-form .form-group.row .left-control{
        padding-right: 15px;
        margin-top: 15px;
    }
}
@media screen and (max-width: 480px){
    .thumbnail-list .thumbnail-container{
        width: 100%;
    }
    .thumbnail-list .thumbnail-container:nth-child(n+5){
        display: none;
    }
    .slider-item .slider-overlay {
        width: auto;
        left: 5px;
        right: 5px;
        bottom:5px;
        height: 80px;
    }
    .slider-item .slider-overlay img{
        width: 73px;
    }
    .slider:hover .slider-overlay{
        right: 40px;
        left: 40px;
    }
    .news .news-item .thumb{
        position: relative;
        right: auto;
        display: block;
        margin-bottom: 20px;
    }
    .news .news-item .text{
        padding-right: 0;
    }
    .footer .about,
    .footer .statistics{
        padding-bottom: 50px;
    }
    .footer .statistics{
        padding-right: 0;
        padding-left: 0;
    }
    .footer .buttons{
        width: 100%;
        float: none;
    }
    .footer .buttons a{
        width: 100%;
    }
    .footer .namad{
        width: 100%;
        float: none;
        margin-bottom: 50px;
        text-align: center;
    }
    .slider{
        max-height: 400px;
    }

    .cat-item{
        width: 280px;
        margin: 0 auto;
    }
    .book-meta [class*="col-"]{
        width: 100%;
    }
    .col-mm-12{
        width: 100%;
    }
    .book-view .book-tabs .tab-content > .tab-pane{
        padding: 30px;
    }
    .book-view .book-tabs .tab-content > #comments.tab-pane{
        padding: 15px;
    }
    .book-view .comment-form .inputs-container,
    .book-view .comments-list .comment-text{
        margin-right: 0;
    }
    .default-comment-avatar{
        display: none;
    }
    .page-heading{
        padding: 143px 0 53px;
    }
    .page-heading h1{
        font-size: 2em;
        line-height:45px;
    }
    .news-list-item{
        width: 200px;
        margin: 0 auto 15px;
    }
    .news-list-item .pic{
        width: 200px;
        height: 200px;
        position: static;
    }
    .news-list-item .news-detail{
        padding: 0 15px;
    }
    .news-list-item .news-detail .date{
        position: static;
        margin: 10px 0 5px;
        display: block;
    }
    .news-list-item .news-detail .category{
        display: none;
    }
    .news-list-item .news-detail h3{
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }
    .news-list-item .news-detail p{
        font-size: 13px;
        text-align: justify;
        text-align-last: right;
    }
}
@media (min-width: 480px) and (max-width: 650px){

    .news-list-item.side-view .pic{
        display: none;
    }
    .news-list-item.side-view .news-detail{
        padding:5px 15px;
        height: auto;
        margin-bottom:5px;
    }
    .news-list-item.side-view .news-detail .category{
        display: none;
    }
    .book-view .comment-form .inputs-container,
    .book-view .comments-list .comment-text{
        margin-right: 60px;
    }
    .default-comment-avatar{
        width: 50px;
        height: 50px;
        background-size: 30px;
    }
    .thumbnail-list .thumbnail-container{
        width: 50%;
    }
    .thumbnail-list .thumbnail-container:nth-child(n+7){
        display: none;
    }
    .footer .about,
    .footer .statistics{
        padding-bottom: 50px;
    }
    .footer .statistics{
        padding-right: 0;
        padding-left: 0;
    }
    .footer .buttons{
        width: 50%;
        float: right;
    }
    .footer .buttons a{
        width: 100%;
    }
    .footer .namad{
        float: left;
        width: 50%;
        text-align: center;
    }
    .footer .back-to-top{
        margin: 0 auto;
        display: block;
    }
    .footer-bottom .social-list li{
        float: none;
        display: inline-block;
        margin: 0 15px;
    }
    .footer-bottom .social-list{
        text-align: center;
        float: none !important;
    }
    .copy-right{
        float: none !important;
        display: block;
        text-align: center;
        margin-top: 30px;
    }
    .cat-item{
        width: 350px;
        margin: 0 auto;
    }
    .book-view .sidebar-col{
        padding: 0 15px;
    }
    .sidebar-col{
        margin-top: 15px;
        padding: 0;
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2;
        -webkit-column-gap:1em;
        -moz-column-gap:1em;
        column-gap:1em;
    }
    .sidebar-col .boxed {
        margin:  0 0 1em;
        width: 100%;
    }

    .book-view .book-tabs .tab-content > .tab-pane{
        padding: 30px;
    }

    .book-view .book-tabs .tab-content > #comments.tab-pane{
        padding: 15px;
    }
    .sidebar-col{
        padding: 0 15px !important;
    }
}
@media (min-width: 650px) and (max-width: 768px){
    .sidebar-col{
        padding: 0 15px !important;
    }
    .book-view .book-tabs .tab-content > .tab-pane{
        padding: 30px;
    }

    .book-view .book-tabs .tab-content > #comments.tab-pane{
        padding: 15px;
    }
    .thumbnail-list .thumbnail-container{
        width: 33.3333%;
    }
    .thumbnail-list .thumbnail-container:nth-child(n+10){
        display: none;
    }
    .footer .about,
    .footer .statistics{
        padding-bottom: 50px;
    }
    .footer .statistics{
        padding-right: 0;
        padding-left: 0;
    }
    .footer .buttons{
        width: 50%;
    }
    .footer .buttons a{
        width: 100%;
    }
    .footer .namad{
        width: 50%;
        text-align: center;
    }
    .footer .nav-justified > li{
        display: table-cell;
        width: 1%;
    }
    .slider{
        max-height: 500px;
    }
    .book-view .sidebar-col{
        padding: 0 15px;
    }
    .sidebar-col{
        margin-top: 15px;
        padding: 0;
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2;
        -webkit-column-gap:1em;
        -moz-column-gap:1em;
        column-gap:1em;
    }
    .sidebar-col .boxed {
        margin:  0 0 1em;
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    #categories-modal .modal-dialog{
        width: 95%;
    }
    .sidebar-col{
        margin-top: 15px;
        padding: 0;
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2;
        -webkit-column-gap:1em;
        -moz-column-gap:1em;
        column-gap:1em;
    }
    .sidebar-col .boxed {
        margin:  0 0 1em;
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 992px){
    .thumbnail-list .thumbnail-container{
        width: 33.3333%;
    }
    .thumbnail-list .thumbnail-container:nth-child(n+10){
        display: none;
    }
    .navbar-brand > h1{
        font-size: 17px;
        margin-right: 10px;
    }
    .navbar-default.scroll-mode .navbar-brand > h1{
        font-size: 17px;
    }
    .navbar-default .navbar-form{
        width: 25%;
        margin-left: -8% !important;
    }
    .slider{
        max-height: 600px;
    }
    .book-view .sidebar-col{
        padding: 0 15px;
    }
    .book-view .buttons > div:first-child{
        margin-bottom: 15px;
    }
    .book-view .buttons > div:first-child,
    .book-view .buttons > div:last-child{
        padding-left: 15px;
        padding-right: 15px;
    }
    .address-list .address-item .phone{
        font-size: 12px;
    }
    .cart .table > tbody > tr > td:first-child{
        width: auto;
    }
    .cart .table th,
    .cart .table td{
        padding: 10px;
    }
    .cart .table .info{
        padding-right: 0;
    }
    .cart .login-box > div{
        float: none;
        margin: 0 auto;
        padding-right: 0;
        padding-left: 0;
    }
    .cart .login-box > div:first-child{
        border-left: none;
        border-bottom: 1px solid #cdcdcd;
    }
    .cart .login-box{
        margin:0;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    #categories-modal .modal-dialog{
        width: 85%;
    }
    .thumbnail-list .thumbnail-container{
        width: 25%;
    }
    .book-list .thumbnail-list .thumbnail-container{
        width: 33.333%;
    }
    .thumbnail-list .thumbnail-container:nth-child(n+9){
        display: none;
    }
    .footer .buttons{
        float: none;
    }
    .footer .buttons a{
        width:100%;
    }
    .footer .namad{
        float: none;
        text-align: center;
    }
    .footer .nav > li > a{
        padding: 10px 0;
    }
    .news-list-item.side-view .pic{
        display: none;
    }
    .news-list-item.side-view .news-detail{
        padding:5px 15px;
        height: auto;
        margin-bottom:5px;
    }
    .news-list-item.side-view .news-detail .category{
        display: none;
    }
    .book-view .buttons > div:first-child{
        margin-bottom: 15px;
    }
    .book-view .buttons > div:first-child,
    .book-view .buttons > div:last-child{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (min-width: 992px) and (max-width: 1024px){
}
@media (min-width: 1200px){
    .thumbnail-list .thumbnail-container{
        width: 20%;
    }

    .book-list .thumbnail-list .thumbnail-container{
        width: 25%;
    }
    .slider-item .slider-overlay {
        right: calc((100% - 1140px) / 2);
        right: -moz-calc((100% - 1140px) / 2);
    }

    .slider:hover .slider-overlay {
        right: calc((100% - 1140px) / 2 + 30px);
        right: -moz-calc((100% - 1140px) / 2 + 30px);
    }
}
@media all and (max-width: 768px){

}