@media (max-width: 767px) {
    .navbar-default{
        height:68px;
        background: #fff;
    }
    .navbar-header{
        position: relative;
        width: auto;
        height: 68px;
        overflow: hidden;
        float: none !important;
        padding-right: 0;
    }
    .navbar-brand{
        height:68px;
        padding-top:0;
        padding-bottom: 0;
    }
    .navbar-brand > img{
        max-height:40px;
        margin: 14px 0;
    }
    .nav.navbar-nav{
        height:auto;
    }
    .nav.navbar-nav li a{
        line-height:50px;
    }
    .navbar-default .navbar-collapse{
        border:none;
        box-shadow: none;
        background: #18b29e;
    }
    .big-image-container{
        height:auto;
    }
    .big-image-container .content{
        width: 100%;
        height:100%;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
    }
    .big-image-container .content h2{
        line-height:30px;
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 20px;
        text-shadow: 0 0 7px #000;
    }
    .big-image-container img{
        position: relative;
    }
    .big-image-container .content a{
        display: block;
        margin: 15px auto 0;
    }
    .steps-guide{
        margin-top: 50px;
    }
    .steps-guide .item{
        width: 100%;
        padding: 0;
        margin-bottom: 15px;
    }
    .reservation-box .form-container{
        padding: 20px;
    }
    .reservation-box .form-container .row{
        margin: 0;
    }
    .reservation-box .form-container .row > div{
        margin-bottom: 30px;
    }
    .reservation-box .content,
    .reservation-box{
        height:auto;
    }
    .about-box .row > div.col-lg-8{
        padding-left: 15px;
        line-height:30px;
    }
    .about-box .row > div.col-lg-4{
        margin-top: 50px;
    }
    .footer .navbar-socials{
        width: 155px;
        display: block;
        margin: 0 auto;
        float: none;
    }
    .navbar-socials li{
        margin-right: 25px;
    }
    .navbar-socials li:last-child{
        margin-right: 0;
    }
    .navbar-socials li a i{
        width: 35px;
        height:35px;
        background-size: 35px;
    }
    .footer .navbar-nav{
        text-align: center;
    }
    .footer .copyright{
        padding-top: 15px;
    }
    .footer .copyright .container > div{
        float: none !important;
        text-align: center;
    }
    .reservation-steps .steps{
        margin: 50px 0;
    }
    .reservation-steps .steps li{
        margin-bottom: 15px;
    }
    .filters input[type="submit"]{
        width:100%;
    }
    .filters input[type="text"]{
        margin-bottom: 30px;
    }
    .table-container{
        margin-top: 50px;
    }
    .inner-page .form-container .row > div{
        margin-bottom: 30px;
    }
    .inner-page .form-container .row{
        margin-bottom: 0;
    }
    .patient-info .first{
        margin-bottom: 50px;
    }
    .patient-info h4{
        color: #ed7262;
    }
    .price-info h4{
        color: #343434;
        float: none;
        text-align: center;
        margin-bottom: 30px;
    }
    .price-info .btn-red{
        width: 100%;
        float: none;
    }
    .expertise-items .expertise-item{
        width:50%;
    }
}
@media screen and (max-width: 480px){
    .expertise-items .expertise-item{
        width:50%;
    }
    .expertise-items span{
        width: 120px;
        height: 120px;
    }
}
@media (max-width: 300px) {
    .expertise-items span{
        width: 100px;
        height: 100px;
    }
    .expertise-items .expertise-item{
        width:100%;
    }
}
@media (min-width: 480px) and (max-width: 650px){
    .expertise-items .expertise-item{
        width:50%;
    }
}
@media (min-width: 650px) and (max-width: 768px){
    .expertise-items .expertise-item{
        width:33.33333%;
    }
}
@media (min-width: 768px) and (max-width: 992px){
    .expertise-items .expertise-item{
        width:25%;
    }
    .big-image-container{
        height:auto;
    }
    .big-image-container .content{
        width: 100%;
        height:100%;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
    }
    .big-image-container .content h2{
        line-height:50px;
        margin-bottom: 10px;
        margin-top: 40px;
    }
    .big-image-container img{
        position: relative;
    }
    .steps-guide h4{
        line-height: 30px;
    }
    .steps-guide .item .content{
        height:300px;
    }
    .reservation-box .form-container{
        padding: 5px;
    }
    .form-container .row > div{
        padding-left: 15px;
        padding-right: 15px;
    }
    .reservation-box .submit-button{
        margin-left: 15px;
    }
    .filters input[type="submit"]{
        width:140px;
    }
    .inner-page .form-container .row > div{
        margin-bottom: 30px;
    }
    .inner-page .form-container .row{
        margin-bottom: 0;
    }
}
@media (min-width: 992px) and (max-width: 1200px){

}
@media (min-width: 1200px){

}